:root {
  --clr-mainbg : rgb(19, 19, 20);
  --clr-mainbg-light : rgb(30, 31, 32);
  --clr-highlight : rgb(47, 48, 49);
  --clr-highlight-light : rgb(77, 78, 80);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.App {
  background-color: var(--clr-mainbg);
  height: 100vh;
  width: 100vw;
}

.dashboard {
  display: flex;
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
}